body {
    padding: 0;
    margin: 0;
    display: flex;
}
#titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(207, 219, 231);
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 0px black;
}

div1, .div2 {
    width: 50%; /* Ajuste a largura conforme necessário */
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;
    padding: 2%;
    width: 90%; /* Ajuste a largura conforme necessário */
    margin-bottom: 10px; /* Espaço entre os inputs */
    /* Outros estilos como padding, borda, etc. */
}  


button {
    background: rgb(145, 216, 247);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 1px 0px black;

}

#txt {
    margin: 0;
}
